<% if @kittens.empty? %>
    <p>There are no kittens to show.</p>
    <p>You might want to create some to show in the seeds file</p>
<% else %>
  <div class="container">
    <h5>You can create a new kitten <%= link_to "here", new_kitten_path %></h5>
    <table>
      <thead>
        <th>name</th><th>age</th><th>cuteness</th><th colspan="3">softness</th>
      </thead>
      <tbody>
        <% @kittens.each do |kitten| %>
        <tr>
          <td><%= link_to kitten.name, kitten_path(kitten) %></td>
          <td><%= kitten.age %></td><td><%= kitten.cuteness %></td>
          <td><%= kitten.softness %></td>
          <td><%= link_to "Edit", edit_kitten_path(kitten) %></td>
          <td><%= link_to "Delete", kitten_path(kitten), method: :delete, data: { confirm: 'Are you sure?' }%></td>
          <td><button class="modal-trigger btn btn-link" data-toggle="modal" data-target="#todo-notes" data-object="<%= kitten.to_json %>">
            Preview
          </button></td>
        </tr>
        <% end %>
      <!-- this is the modal -->
        <div class="modal fade" id="todo-notes" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">I am a kitten, my name is</h4>
                <p id="name"></p>
              </div>
              <div class="modal-body">
                <p>My softness level is <span id="softness"></span></p>
                <p>And my cuteness level is <span id="cuteness"></span></p>
              </div>
              <div class="modal-footer">
                <p>I am <span id="age"></span> years old</p>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      <!-- end of modal -->
      </tbody>
    </table>
  </div>
<% end %>